@charset "UTF-8";
/* ベースカラー：主に背景 */
/* メインカラー：主たる装飾色 */
/* アクセントカラー：装飾色 */
/* アクセントカラー：主にテキストカラー */
body {
  line-height: 1.6;
  color: #ca5431;
}

main {
  background-color: #f6e4c8;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
}

.inner-wrapper {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4 {
  font-family: "Noto Sans JP", "Oswald", sans-serif;
}

p,
a,
span {
  font-family: "Zen Kaku Gothic New", "Oswald", sans-serif;
}

.fv {
  position: relative;
}
.fv header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-inline: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}
.fv header .logo {
  font-size: 2em;
  font-weight: 900;
}
.fv header .logo a {
  color: #ca5431;
}
.fv header nav {
  margin-left: auto;
}
.fv header nav ul {
  display: flex;
  gap: 2em;
}
.fv header nav ul li {
  list-style: none;
}
.fv header nav ul li a {
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
  color: #ca5431;
}
.fv header nav ul li a:hover {
  text-decoration: underline;
}
.fv .vid {
  height: 400vh;
  position: relative;
}
.fv .vid .holder {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%; /* 幅は親要素に合わせる */
  height: 100vh; /* 常に画面の高さに固定 */
  overflow: hidden; /* はみ出た部分を隠す */
}
.fv .vid video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.fv .vid .story {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
}
.fv .vid .story div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fv .vid .story div h1 {
  font-size: 3em;
  font-weight: 900;
  line-height: 1.5;
}

.trial_modal_box {
  position: fixed;
  left: 2%;
  bottom: 20px;
  z-index: 99999999;
  width: 220px;
  height: auto;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}
.trial_modal_box svg {
  float: right;
  cursor: pointer;
  margin: -0.5rem -0.5rem 0.5rem 0;
}
.trial_modal_box.trial_modal_box h2 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  color: #333;
}
.trial_modal_box.trial_modal_box .text {
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  color: #555;
}
.trial_modal_box.trial_modal_box .trial_btn {
  padding: 0.5rem 1rem;
  background-color: #dd9348;
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.back_to_top_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999999;
  background-color: #f6e4c8;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(202, 84, 49, 0.5);
}
.back_to_top_btn h2 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
.back_to_top_btn h2 a {
  text-decoration: none;
  color: #d3692e;
  font-weight: bold;
}

@media (max-width: 768px) {
  header {
    padding-inline: 20px;
    padding-block: 10px;
  }
  header nav {
    margin-left: auto;
  }
  header nav ul {
    display: none;
  }
  .fv .vid {
    height: 200vh;
  }
  .fv .vid .holder {
    width: 100%;
    height: 100vh;
  }
  .fv .vid video {
    /* ここを変更 */
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .fv .vid .story div {
    height: 50vh;
  }
  .fv .vid .story div h1 {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1;
  }
}
/*アバター section*/
.avatar-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #dd9348;
}

.logo-row {
  display: flex;
  align-items: center;
  margin: 20px 0;
  white-space: nowrap;
}
.logo-row.row-1 {
  -webkit-animation: slideLeft 10s linear infinite;
          animation: slideLeft 10s linear infinite;
}
.logo-row.row-2 {
  -webkit-animation: slideRight 10s linear infinite;
          animation: slideRight 10s linear infinite;
}
.logo-row.row-3 {
  -webkit-animation: slideLeft 10s linear infinite;
          animation: slideLeft 10s linear infinite;
}

.logo-item {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #f6e4c8;
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.logo-item:hover {
  transform: scale(1.1);
}
.logo-item img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}

@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
/*レスポンシブデザイン*/
@media (max-width: 768px) {
  .logo-item {
    width: 80px;
    height: 80px;
    margin: 0 10px;
  }
  .logo-item img {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 480px) {
  .logo-item {
    width: 60px;
    height: 60px;
    margin: 0 8px;
  }
  .logo-item img {
    width: 40px;
    height: 40px;
  }
}
/*F&Q sectionF&Q section*/
#faq {
  max-width: 700px;
  margin: 0 auto 120px;
  background: #f6e4c8;
  padding: 80px;
  border-radius: 10px;
}

.faq-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}
.faq-subtitle {
  text-align: center;
  margin-bottom: 30px;
}

details {
  border: 1px solid #dd9348;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 12px 16px;
  background: #f6e4c8;
  cursor: pointer;
}

summary {
  font-weight: bold;
  display: block;
}

details summary {
  list-style: none;
  position: relative;
  padding-right: 20px;
  cursor: pointer;
  line-height: 2.8;
  display: block;
}
details summary::after {
  content: "▶";
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  transition: transform 0.2s ease;
  top: 4px;
}
details[open] summary::after {
  content: "▼";
}
details p {
  line-height: 1.8;
  margin-left: 1.5px;
  padding-top: 5px;
  border-top: 1px solid #d3692e;
}

/* Price table */
.pricing-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.plan {
  margin: 0 auto 60px;
  background: #f6e4c8;
  padding: 40px;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 4px 20px #d3692e;
  text-align: center;
  position: relative;
}

.plan .price {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0 20px;
  color: #ca5431;
}

.plan ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

.plan ul li {
  margin-bottom: 8px;
}

.price-btn {
  background-color: #d3692e;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.price-btn:hover {
  background-color: #ca5431;
  transform: translateY(-1px);
  box-shadow: 0 4px 8px #d3692e;
}
.price-btn:active {
  transform: translateY(2px);
  box-shadow: 0 1px 2px #d3692e; /* 影も薄くしてへこむ感じ */
}

/*contact form*/
#contact {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  margin: auto 0;
}

.contact-form {
  max-width: 700px;
  width: 100%;
  background: #dd9348;
  padding: 5px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 30px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input, textarea {
  background: transparent;
  border: none;
  border-bottom: 2px solid #d3692e;
  padding: 8px;
  font-size: 16px;
  outline: none;
}

textarea {
  resize: vertical;
}

.submit-btn {
  margin-top: 30px;
  padding: 14px 30px;
  background: #d3692e;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background: #d3692e;
}
/*# sourceMappingURL=style.css.map */