@charset "UTF-8";
@use "page/_mixin.scss" as mx;
@use "page/mainVisual" as fv;

$champagne: #f6e4c8; /* ベースカラー：主に背景 */
$butterscotch: #dd9348; /* メインカラー：主たる装飾色 */
$cocoa-brown: #d3692e; /* アクセントカラー：装飾色 */
$jasper: #ca5431; /* アクセントカラー：主にテキストカラー */
