@use "../page/mixin" as mx;

$champagne: #f6e4c8;
/* ベースカラー：主に背景 */
$butterscotch: #dd9348;
/* メインカラー：主たる装飾色 */
$cocoa-brown: #d3692e;
/* アクセントカラー：装飾色 */
$jasper: #ca5431;
/* アクセントカラー：主にテキストカラー */
$white: #fff;
$black: #333;
$orange: #FFA734;
$mint-green: #B5E0D8;
$green: #49A291;

body {
  line-height: 1.6;
  color: $jasper;
  // position: relative;
}

main {
  background-color: $champagne;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
  //   margin-inline:auto;
  // padding-inline: 16px;
}

.inner-wrapper {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 20px;
  //   margin-inline:auto;
  // padding-inline: 16px;
}


.section-title {
  text-align: center;
  padding-block: 80px;
  margin: 0;
  position: relative;
  font-size: 40px;

  @include mx.sp {
    padding:40px 0 60px 0;
  }

  &::before {
    content: "";
    width: 150px;
    height: 4px;
    background-color: $butterscotch;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.sub-title {
  text-align: center;
  padding-bottom: 100px;
  margin: 0;
  font-size: 18px;

  @include mx.sp {
    font-size: 16px;
    padding-bottom: 60px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald",
    // 和文
    "Noto Sans JP",
    // 英文
    sans-serif; // 保険
}

h2 {
  font-size: 40px;
}

p,
a,
span,
summary,
li {
  font-family: "Zen Kaku Gothic New",
    // 和文フォント
    "Oswald",
    // 英文フォント
    sans-serif; // 最後の保険
}

// _mixin.scss：書き出し(mixin)：レスポンシブ
$sp: 768px;
$tb: 1024px; 

@mixin sp {
  @media (max-width: $sp) {
    @content;
  }
}

@mixin tb {
  @media (max-width: $tb) {
    @content;
  }
}
