@use "../base/common" as *;

.fv {
  position: relative;

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-inline: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease,
      box-shadow 0.3s ease;

    .logo {
      a {
        color: $jasper;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 50px;
          height: auto;
          border-radius: 50%;
        }
      }
    }

    nav {
      margin-left: auto;

      ul {
        display: flex;
        gap: 2em;

        li {
          list-style: none;

          a {
            font-size: 13px;
            font-weight: 300;
            cursor: pointer;
            text-decoration: none;
            color: white;

            &:hover {
              text-decoration: underline;
              color: $jasper;
            }
          }
        }
      }
    }
  }

  .vid {
    height: 450vh;
    position: relative;

    .holder {
      position: sticky;
      top: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .story {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      color: white;
      div {
        height: 70vh;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
      .main-title {
        height: 100vh;
        align-items: center;
        .fv-main-title {
          font-size: 18vw;
          font-weight: 900;
          line-height: 1.5;
        }
        .popping-text span {
          display: inline-block;
          opacity: 1;
          transition: transform 0.2s ease;
          cursor: default;
        }

        .popping-text span:hover {
          animation: pop 0.3s ease;
          transition: opacity 0.3s ease;
          opacity: 0.6;
        }

        @keyframes pop {
          0% {
            transform: scale(1);
          }
          50% {
            transform: scale(1.4) translateY(-5px);
          }
          100% {
            transform: scale(1);
          }
        }
      }

      .subtitle {
        padding: 1rem;
        height: 70vh;
        // &:nth-child(1) {
        //   justify-content: flex-end;
        // }

        &:nth-child(2) {
          justify-content: flex-end;
          padding-left: 10%;
        }
        &:nth-child(3) {
          justify-content: start;
        }
        &:nth-child(4) {
          justify-content: end;
        }
        &:nth-child(5) {
          justify-content: center;
        }

        h1 {
          font-size: 3vw;
          font-weight: 900;
          line-height: 1.5;
          width: auto;
        }
      }
    }
  }
}

// モーダルCSS
.modal_box {
  position: fixed;
  left: 2%;
  bottom: 20px;
  z-index: 99999999;
  width: 220px;
  height: auto;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  color: rgba($jasper, 0.5);
  svg {
    float: right;
    cursor: pointer;
    margin: -0.5rem -0.5rem 0.5rem 0;
  }

  // 無料体験モーダルボックスのスタイル
  &.modal_box {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 0.8rem;
      color: #333;
    }

    .text {
      font-size: 0.9rem;
      line-height: 1.4;
      margin-bottom: 0.5rem;
      color: #555;
    }

    .trial_btn {
      padding: 0.5rem 1rem;
      background-color: $butterscotch;
      color: white;
      border: none;
      border-radius: 0.3rem;
      cursor: pointer;
      margin-top: 1rem;
      white-space: normal;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }
}

// Back to top button
.back_to_top_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2000;
  background-color: $champagne;
  padding: 10px 20px;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(rgba($jasper, 0.5), 0.5);

  h2 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;

    a {
      text-decoration: none;
      color: $cocoa-brown;
      font-weight: bold;
    }
  }
}

// Responsive part

@media (max-width: 768px) {
  header {
    padding-inline: 20px;
    padding-block: 10px;

    nav {
      margin-left: auto;
      display: none;

      ul {
        display: none;
      }
    }
  }

  .fv .vid {
    height: 400vh;

    .holder {
      width: 100%;
      height: 100vh;
    }

    video {
      object-fit: cover;
      object-position: center;
    }

    .story {
      .subtitle {
        padding: 1rem;
        height: 40vh;

        // div {
        //   height: 50vh;

        h1 {
          font-size: 4vw;
          font-weight: 500;
          line-height: 1;
        }
      }
    }
  }
}

// responsive toggle button
.toggle_button {
  color: #ffffff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;

  .menu_icon {
    width: 24px;
    height: 24px;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
      fill: $jasper;
    }
  }
}

// Dropdown menu styles
.dropdown_menu {
  display: block;
  position: absolute;
  right: 2rem;
  top: 5em;
  width: 300px;
  max-height: 0;
  background-color: rgba(7, 7, 7, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  &.open {
    max-height: 500px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0.7rem;
      display: flex;

      a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
          color: $jasper;
        }
      }
    }
  }
}

// モバイルメニューのスタイル
@media (max-width: 992px) {
  .fv {
    header {
      nav {
        display: none;
      }

      .toggle_button {
        display: block;
      }
    }
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    right: 1rem;
    top: 5em;
    width: calc(100% - 2rem);
  }
}

/* オーバーレイヤー設定：常に上に固定 */
#cursor-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 9999;
}

.ball {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  /* サイズや色は個別に設定 */
}
#ball1 {
  width: 30px;
  height: 30px;
  background: #c5e5cf;
  z-index: 3;
}
#ball2 {
  width: 20px;
  height: 20px;
  background: #f2caf1;
  z-index: 2;
}
#ball3 {
  width: 12px;
  height: 12px;
  background: #db7134;
  z-index: 1;
}
