header {
  padding-inline: 40px;
  padding-block: 20px;
  background-color: azure;
  display: flex;
  align-items: center;
  .logo {
    font-size: 20px;
    font-weight: 900;
  }
  nav {
    margin-left: auto;
    ul {
      display: flex;
      align-items: center;
      gap: 3em;

      li {
        list-style: none;
      }
      a {
        font-size: 13px;
        font-weight: 300;
        text-decoration: none;
      }
    }
  }
}

.fv {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: cornflowerblue;
}

.hero {
  color: white;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 1.5;
  }
}

// Responsive part

@media (max-width: 768px) {
  header {
    padding-inline: 20px;
    padding-block: 10px;
    .logo {
      font-size: 20px;
      font-weight: 900;
    }
    nav {
      margin-left: auto;
      ul {
        gap: 1em;
      }
    }
  }
  .hero {
    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.3;
    }
  }
}
